@{
    ViewBag.Title = ViewBag.id;
	var state = ViewBag.stats as Tuple<DateTime?, string>;
}

<h1>@ViewBag.id</h1>

@helper time(DateTime? when) {
	if(when == null) {
		<span class="time">never</span>
	}
	var ms = (int)(when.Value.ToUniversalTime() - new DateTime(1970, 1, 1)).TotalMilliseconds;
	<span class="time" data-date="@ms"></span>
}

State: <span class="state @state.Item2">@state.Item2</span>
@switch((string)state.Item2) {
    case "building":
        <span>started @time(state.Item1)</span>
        break;
    case "idle":
        <span>last built @time(state.Item1)</span>
        break;
    case "failed":
        <span>@time(state.Item1)</span>
        break;
}


@if(ViewBag.logcreated != null) {
    <a href="@Url.Action("log", new { id = ViewBag.id })" style="font-size:9pt;">see build log &rarr;</a>
}

<div>
    Webhook: <code style="background-color:#eee;">@Request.Url.GetLeftPart(UriPartial.Authority)/apps/hook/@ViewBag.id</code>
</div>
<br />
@using(Html.BeginForm(new { action = "build", id = @ViewBag.id })) {
    <input type="submit" value="build now" />
}

<h3>config</h3>
<dl style="font-family:monospace;font-size:9pt;">
@foreach(var pair in ViewBag.config) {
    <dt style="font-weight:bold">@pair.Key</dt>
    <dd>@pair.Value</dd>
}
</dl>


